@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.window {
    width: 400px;
    height: 300px;
    border: 3px solid #fff;
    background-color: rgba(18, 33, 56, 0.9);
    text-align: center;
    border-radius: 20px;
    margin: 20px 20px 0px auto;
}

.list {
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
    width: inherit;
    padding-left: 20px;
}

h1 {
    color: #fff;
    font-family: 'oswald';
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: auto;
}

option {
    font-family: 'roboto';
    color: #fff;
    font-size: 13px;
}
